body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(195, 232, 220);
}

img {
    height: 300px;
    width: auto;
}

div {
    padding-left: 20px;
}

.hidden {
    display: none;
}